/* SPDX-License-Identifier: AGPL-3.0-or-later */

.text {
	display: flex;
	flex-direction: column;
	gap: 0.125rem;
	overflow: hidden;
}

.label {
	display: flex;
	align-items: center;
	gap: 0.375rem;
	font-size: 0.875rem;
	color: var(--text-primary);
}

.timestamp {
	font-size: 0.75rem;
	color: var(--text-primary-muted);
}

.controls {
	display: flex;
	align-items: center;
}

.button {
	cursor: pointer;
	flex-shrink: 0;
	border: none;
	background-color: transparent;
	padding: 0.5rem 0 0.5rem 1rem;
	color: var(--text-primary-muted);
	line-height: 0;
	transition: color 200ms;
}

.button:hover {
	color: var(--text-primary);
}

.icon {
	height: 1.25rem;
	width: 1.25rem;
}
