{$DOMAIN} {
    encode zstd gzip

    request_body {
        max_size 50MB
    }

    handle_path /livekit/* {
        reverse_proxy host.docker.internal:7880
    }

    handle_path /source/* {
        root * /srv/source
        file_server
    }

    handle {
        reverse_proxy lume:3000
    }
}
